:root {
    --blue: #328fac;
    --darkblue: #287288;
}

body {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background: url(./assets/the-wind-rises-wallpapers-26150-1070731.jpg) center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: var(--blue);
    font-style: italic;
    margin-top: 10vh;
    border: 1px solid white;
    border-radius: 4px;
}

#jumbo-header {
    letter-spacing: 0.3em;
    border-bottom: white solid 1px;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* #jumbo-underline {
    width: 35vw;
    height: 1px;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
} */

.bold-text {
    font-weight: 400;
}

.btn {
    color: white;
    background-color: var(--darkblue);
}

.result {
    background-color: var(--blue);
    border: white solid 1px;
    border-radius: 4px;
}

.c {
    /* bootstrap gutter width (left/right margins) is 15px */
    margin-top: 15px; 
    margin-bottom: 15px;
}

.table {
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;
}